APP_DATABASE_URL=postgresql://user:password@host:port/dbname
ALEMBIC_DATABASE_URL=postgresql+asyncpg://user:password@host:port/dbname
SECRET_KEY=your-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30